@import "tailwindcss";

:root {
  --background: lightgray;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: lightgray;
    --foreground: #040101;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.servicesWidget {
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 hsla(0, 0%, 49%, .3);
  cursor: pointer;
  display: flex;
  margin: 10px 10px 0 0;
}